<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-thin-straight/css/uicons-thin-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel="stylesheet" href="./home.css">    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <a href="/"><svg class="header-logo" role="img" >
            <path d="m109.202 14.864 4.404-7.03h4.746l-4.622 7.278 4.808 7.463h-4.746l-4.59-7.215v7.215h-4.467V.433l4.467-.402v14.833ZM98.596 14.524c0-1.951-.807-3.5-2.885-3.5s-2.885 1.549-2.885 3.5v1.363c0 1.95.807 3.499 2.885 3.499s2.885-1.549 2.885-3.5v-1.362ZM88.36 15.577v-.743c0-4.243 2.42-7.309 7.351-7.309s7.351 3.066 7.351 7.309v.743c0 4.242-2.42 7.308-7.351 7.308-4.932 0-7.351-3.066-7.351-7.308ZM82.406 14.524c0-1.951-.807-3.5-2.884-3.5-2.079 0-2.885 1.549-2.885 3.5v1.363c0 1.95.806 3.499 2.885 3.499 2.077 0 2.884-1.549 2.884-3.5v-1.362Zm-10.235 1.053v-.743c0-4.243 2.419-7.309 7.35-7.309 4.932 0 7.352 3.066 7.352 7.309v.743c0 4.242-2.42 7.308-7.352 7.308-4.931 0-7.35-3.066-7.35-7.308ZM66.216 14.648c0-2.075-.806-3.623-2.946-3.623-1.83 0-2.823 1.3-2.823 3.406v1.548c0 2.106.993 3.407 2.823 3.407 2.14 0 2.946-1.549 2.946-3.623v-1.115Zm4.467 1.022c0 4.118-1.985 7.215-6.08 7.215-2.233 0-3.783-1.115-4.404-2.539v2.23h-4.218V.434L60.447.03v9.848c.651-1.3 2.078-2.354 4.157-2.354 4.094 0 6.079 3.097 6.079 7.216v.929ZM44.723 13.843h5.397v-.372c0-1.61-.651-2.88-2.606-2.88-2.016 0-2.791 1.27-2.791 3.252m-4.466 1.92v-1.301c0-4.18 2.388-6.937 7.257-6.937 4.59 0 6.607 2.787 6.607 6.875v2.353h-9.398c.093 2.014.992 2.912 3.474 2.912 1.675 0 3.443-.341 4.745-.898l.807 3.065c-1.179.62-3.598 1.084-5.738 1.084-5.645 0-7.754-2.818-7.754-7.153M35.388 7.525c1.737 0 3.38.372 4.28.991l-.992 3.159c-.683-.34-1.8-.682-2.978-.682-2.42 0-3.474 1.394-3.474 3.778v.868c0 2.384 1.055 3.778 3.474 3.778 1.179 0 2.295-.34 2.978-.682l.992 3.16c-.9.618-2.543.99-4.28.99-5.242 0-7.63-2.818-7.63-7.34v-.68c0-4.522 2.388-7.34 7.63-7.34M15.973 15.732c0 2.198.806 3.654 2.884 3.654 1.83 0 2.76-1.332 2.76-3.438v-1.486c0-2.106-.93-3.437-2.76-3.437-2.078 0-2.884 1.455-2.884 3.654v1.053Zm-4.467-.991c0-4.119 1.954-7.216 6.049-7.216 2.233 0 3.598 1.146 4.249 2.57v-2.26h4.28v14.74h-4.28v-2.23c-.62 1.425-2.016 2.54-4.25 2.54-4.094 0-6.048-3.097-6.048-7.215v-.93ZM9.274 3.592c-1.396 0-1.8.62-1.8 1.982v2.26h3.723l-.372 3.655h-3.35v11.086H3.009V11.49H0V7.835h3.009V5.636C3.009 1.951 4.497 0 8.654 0c.9 0 1.954.062 2.605.155v3.437H9.274Z"></path>
        </svg></a>
        <div class="header-search">
            <span><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" placeholder="Search Facebook">
        </div>
        <div class="header-user">
            <div class=" div bell-notifi"><i class="fa-solid fa-bell"></i></div>
            <div class="dropdow-noti_menu">
                <%if(noti.length==0){%>
                    <p style="width:100%;padding:20px">You have no notification!</p>
                    <%}else{%>
                <%for(let index=0; index < noti.length; index++){%>
                 <%if(noti[index].type_noti=="Add_Friend"){%>
                    <%- include('addFriendNoti',{noti:noti[index]})%>
                    <%}else if(noti[index].type_noti=="React"){%>
                        <%- include('reactNoti',{noti:noti[index]})%>
                        <%}else{%>
                            <%- include('cmtNoti',{noti:noti[index]})%>
                            <%}%>
                    <%}%>
                    <%}%>
            </div>
            <div class="div"><i class="fa-brands fa-facebook-messenger"></i></div>
            <a href="/user/<%= owner.id_user %>" class="id_user_owner" id="<%= owner.id_user %>"><img src="<%= owner.avatar %>" alt=""></a>

        </div>
    </div>
    <div class="main-container">
        <div class="main-container-side-left">

        </div>
        <div class="main-container-feed">
            <div class="feed-createpost-container">
            <div class="feed-input">
                <img src="<%= owner.avatar %>" alt="">
                <input id="input_something" type="text" placeholder="what is your mind?">
            </div>
            <div class="feed-option">
                <div class="live-video">
                    <span><i data-visualcompletion="css-img" class="" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/ys/r/4yoINsqqrhA.png');background-position:0 -58px;background-size:auto;width:24px;height:24px;background-repeat:no-repeat;display:inline-block"></i> Live video</span>
                </div>
                <div class="photo_video">
                    <span><i data-visualcompletion="css-img" class="" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/ys/r/4yoINsqqrhA.png');background-position:0 -233px;background-size:auto;width:24px;height:24px;background-repeat:no-repeat;display:inline-block"></i> Photo/Video</span>
                </div>
                <div class="feedling">
                    <span><i data-visualcompletion="css-img" class="" style="background-image:url('https://static.xx.fbcdn.net/rsrc.php/v3/ys/r/4yoINsqqrhA.png');background-position:0 -183px;background-size:auto;width:24px;height:24px;background-repeat:no-repeat;display:inline-block"></i> Felling/activy</span>
                </div>
            </div>
            </div>
            <div class="feed-content">
                <%for(let index=0;index < dataPost.length;index++){%>
                    <div class="post">
                        <div class="post-header">
                            <div class="post-header-user">
                                <img src="<%= dataPost[index].avatar %>" alt="">
                                <div class="post-header-user_name">
                                    <a href="/user/<%= dataPost[index].id_owner %>" style="text-decoration: none;color:black;font-weight: 600;"><%= dataPost[index].display_name %></a>
                                    <p><%= dataPost[index].date.toLocaleDateString() %>- <%= dataPost[index].date.toLocaleTimeString() %></p>
                                </div>
                            </div>
                            <i class="fa-sharp fa-solid fa-bars"></i>
                        </div>
                        <div class="post-content"><%= dataPost[index].content %></div>
                        <div class="post-body">
                           <%if(dataPost[index].photo!="null"){%>
                            <%for(let i=0;i<dataPost[index].photo.length;i++){%>
                                <img src="<%= dataPost[index].photo[i] %>" alt="">
                                <%}%>
                           <%}%>
                        </div>
                        <div class="post-footer">
                            <div class="post-footer_reaction">
                                <div class="reaction">
                                  
                                       <span> <i class="fa-solid fa-heart"></i>
                                        <%if(dataPost[index].love!="null"){%>
                                            <%= dataPost[index].love %>
                                           <%}%>
                                       </span>
                                   
                                </div>
                                <div class="comment">
                                    <%if(dataPost[index].comment!=null){%>
                                        <p><%= dataPost[index].comment %> comments</p>
                                        <%}%>
                                </div>
                            </div>
                            <div class="post_footer_button">
                             <div><i class="fa-sharp fa-solid fa-heart"></i> &nbsp Love</div>
                             <div><i class="fa-sharp fa-solid fa-comment"></i>&nbsp  Comment</div>
                             <div><i class="fa-sharp fa-solid fa-share"></i> &nbsp Share</div>
                            </div>
                            <div class="post-footer-conmment-container">
                                <div class="write-comment">
                                    <img src="<%= owner.avatar %>" alt="">
                                    <input type="text" placeholder="comment something...">
                                </div>
                                <!-- <div class="view-comment">
                                    <div class="comment-compoment">
                                        <img src="../image/190108336_322648402555040_2100790391455013605_n.jpg" alt="">
                                        <div class="content-container">
                                            <p class="username"> Cristiano Ronaldo</p>
                                            <p class="content">Good Job bro!</p>
                                        </div>
                                    </div>
                                    <div class="comment-compoment">
                                        <img src="../image/153536262_272096204273745_6550378675999778560_n.jpg" alt="">
                                        <div class="content-container">
                                            <p class="username"> Floyd Mayweather</p>
                                            <p class="content">Make money man!</p>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <%}%>
            </div>
        </div>
        <div class="main-container-side-right"></div>
    </div>
    <div class="popup-create_post_overlay" style="display:none">
        <div class="popup_create_post">
            <div class="create_post_header">
                Create Post
            </div>
            <div class="create_post_body">
                <div class="create_post_body-username">
                    <img src="<%= owner.avatar %>" alt="">
                    <div class="select_private">
                        <p><%= owner.display_name %></p>
                        <select name="" id="privatOfPost" value="">
                            <option value="Public">Public</option>
                            <option value="Friends">Friends</option>
                            <option value="Only me">Only me</option>
                        </select>
                    </div>
                </div>
                <div class="create_post_body_content">
                    <textarea placeholder=" what is your mind, <%= owner.display_name %>", id="textOfPost" ></textarea>

                      
                </div>
                <div class="create_post_body_media">
                 <div class="media-preview">  <img src="https://firebasestorage.googleapis.com/v0/b/ecomerce-project-f455c.appspot.com/o/153536262_272096204273745_6550378675999778560_n.jpg?alt=media&token=f1ce3bfe-2c6a-4ad6-bc34-20bf54854d55" class="rounded mx-auto d-block" alt="..." ><i class="fa-sharp fa-solid fa-circle-xmark"></i></div>
                    <img src="https://firebasestorage.googleapis.com/v0/b/ecomerce-project-f455c.appspot.com/o/153536262_272096204273745_6550378675999778560_n.jpg?alt=media&token=f1ce3bfe-2c6a-4ad6-bc34-20bf54854d55" class="rounded mx-auto d-block" alt="...">
                </div>
            </div>
            <div class="create_post_footer">
                <div class="create_post_footer-option">
                    <p>Add to your post</p>
                    <div class="option-icon">
                       <input type="file" multiple id="upload_btn" name="file">
                        <i class="fi fi-ts-tags"></i>
                        <i class="fi fi-rr-smile"></i>
                    </div>
                </div>
                <div class="create_post_footer_btn">
                    <button class="post_btn">POST</button>
                </div>
            </div>
        </div>
    </div>
    
</body>
<script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.13.0/firebase-storage-compat.js"></script>
<script src="./home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</html>